<div  class="container my-3 ">
<h4 class="text-white">Add a Todo</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="TodoTitle" class="form-label text-white">Todo Title</label>
      <input [(ngModel)]="title" type="text" class="form-control" id="title" name="title" >
     
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label text-white">Description</label>
        <textarea [(ngModel)]="desc" class="form-control" id="desc" name="desc" rows="3"></textarea>
      </div>
    <button type="submit" class="btn-sm btn btn-primary">Add Todo</button>
  </form>
    </div>