<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>

<div class="container">
    <h4 class="text-white">Your Todo List</h4>
    <div class="text-center fs-2 text-white " *ngIf="todos.length === 0 else elseBlock">No Todos</div>
    <ng-template #elseBlock>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0" *ngFor="let item of todos">
                <div class="card my-3 w-9/12">
                    <div class="card-body">
                        <app-todo-item [todoItem]="item" (todoItemDelete)="deleteTodo($event)"></app-todo-item>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>